@model IEnumerable<CheckersWeb.Models.Game>[]

@{
    ViewData["Title"] = "Главная страница";
}

<h1>Новые игры</h1>
<p>
    <a asp-controller="Games" asp-action="Create">Создать новую</a>
</p>
@await Html.PartialAsync("../_GamesPartial.cshtml", Model[0])

<h1>Текущие игры</h1>
@await Html.PartialAsync("../_GamesPartial.cshtml", Model[1])

<h1>Прошедшие игры</h1>
@await Html.PartialAsync("../_GamesPartial.cshtml", Model[2])